* {
    margin: 0;
    padding: 0;
}

body {
    padding-top: 200px;

    width: 1000px;
    height: 1200px;
    margin: auto;
}

.fone {
    display: flex;
    align-items: center;
    width: 1028px;
    height: 562px;
    background: #b0d8df;
    margin: auto;
}

.wrapper {

    display: flex;
    padding: 0px;
    width: 540px;
    height: 169px;
    background: #FFFEF8;
    border-radius: 15px;
    margin: auto;
}

.wrapper_2 {
    width: 350px;
    height: 169px;
    margin-top: 10px;

}


.ellipse {
    width: 169px;
    height: 169px;
    background: url(./assets/img_1.svg);
    border-radius: 1px 0px 0px 14px;
}


.title {
    width: 310px;
    height: 60px;
    display: flex;
    justify-content: space-around;

}

.zag {
    margin-right: 30px;
}


.player_name {
    width: 160px;
    height: 22px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    margin-left: 50px;
}

.artist {
    width: 72px;
    height: 17px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    margin-left: 50px;
}

.vector {
    Width: 21px;
    height: 21px;
    background: url(./assets/Vector.svg);
}

.progress {
    /* background: url(./assets/progress.svg);*/
    background-color: #d20d2e;
    height: 3px;
    width: 2px
}

.wrapper_4 {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.wrapper_3 {
    width: 257px;
    height: 3px;
    margin-top: 25px;
    background-color: #DADADA;
}

#time {
    width: 30px;
    height: 15px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    color: #454545;
    margin-left: 7px;
}

.btn {
    display: flex;
    justify-content: space-around;
    width: 340px;
    height: 20px;
    margin-top: 30px;
}

.reverse {
    width: 20px;
    height: 20px;
    background: url(./assets/Icon.svg);
}

.left {
    width: 16px;
    height: 12px;
    background: url(./assets/left.svg);
}

.play {
    width: 12px;
    height: 15px;
    background: url(./assets/play.svg);
}

.right {
    width: 18px;
    height: 12px;
    background: url(./assets/right.svg);
}

.like {
    width: 20px;
    height: 18px;
    background: url(./assets/like.svg);
    margin-right: 25px;

}