* {
    margin: 0;
    padding: 0;
}

body {
    padding-top:200px;

    width: 1000px;
    height: 1200px;
    margin: auto;
}

.fone {
    display: flex;
    align-items: center;
    width: 1028px;
    height: 562px;
    background: #0d0c0a;
    margin: auto;
}

.wrapper {
    
    display: flex;
    padding: 0px;
    width: 540px;
    height: 169px;
    background: #FFFEF8;
    border-radius: 15px;
    margin: auto;
}
.zag {
     display: flex;
}
.wrapper_2 {
    display: flex;
    width: 400px;
    height: 169px;
    padding-top: 10px;
}

.title {
    display: flex;
    justify-content: space-around;
}

.ellipse {
    width: 169px;
    height: 169px;
    background: url(./assets/img_1.svg);
    border-radius: 14.6957px 0px 0px 14px;
}

.player_name {
    width: 149px;
    height: 22px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    margin-left: 50px;
}

.artist {
    width: 72px;
    height: 17px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
}

.vector {
    Width: 21px;
    height: 20.61px;
    background: url(./assets/Vector.svg);
    margin-left: 120px;
}

.progress {
    background: url(./assets/progress.svg);
    width: 257px;
    height: 3px;
    background: #DADADA;
    margin-top: 7px;
}

.wrapper_3 {
    width: 400px;
    height: 20px;
    display: flex;
    align-items: center;
}

.time {
    width: 30px;
    height: 15px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    color: #454545;
    margin-left: 7px;
}
.btn {
      display: flex;
    justify-content: space-around;
    width: 340px;
    height: 20px;
    margin-top: 30px;
}
.reverse {
    width: 20px;
    height: 20px;
    background: url(./assets/Icon.svg);
}

.left {
    width: 16px;
    height: 12px;
    background: url(./assets/left.svg);
}

.play {
    width: 12px;
    height: 15px;
    background: url(./assets/play.svg);
}

.rigth {
    width: 18px;
    height: 12px;
    background: url(./assets/rigth.svg);
}

.like {
    width: 20px;
    height: 20px;
    background: url(./assets/like.svg);
    margin-right: 25px;

}
